.html,body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    height: 80vh;
    width: 100%;
}

.top{
    height: 20vh;
}

.pre-formatted {
    white-space: pre;
    text-align: left;
    overflow: scroll;
}
